{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% block body %}
    <h1>Action</h1>
    {% if form is defined %}
        {{ form(form) }}
    {% endif %}

    <table class="table">
        <tbody>
        {% for resultat in resultats %}
            <tr>
            {% for col in resultat %}
                <td>{{ col }}</td>
            {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="1">Aucun élément trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
