{% extends 'cineland/action.html.twig' %}

{% block body %}
    {{ parent() }}

    <table class="table">
        <tbody>
        {% for resultat in resultats %}
            <tr>
            {% for col in resultat %}
                <td>{{ col }}</td>
            {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="1">Aucun élément trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
